.header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  font-family: "Bebas Neue", serif;
  font-size: 24px;

  // &:before {
  //   content: '';
  //   position: absolute;
  //   left:0;
  //   right: 0;
  //   top: 0;
  //   bottom: 0;
  //   filter: blur(4px);
  //   background-color: #ffffff17;
  // }
}

.container {
  padding:10px 0;
  border-bottom: 2px solid #ffffff15;
}
